node-red/analysis.json
[{"id":"b2c0c3ac.7dbf8","type":"link in","z":"26f81ea7.871d22","name":"","links":["3547730.e0e558e","c9e904cd.af3a98"],"x":58.5,"y":60,"wires":[["88bce9f2.618528"]]},{"id":"4881e0b3.8e18d","type":"watson-tone-analyzer-v3","z":"26f81ea7.871d22","name":"","tones":"all","sentences":"false","contentType":"false","x":289.5,"y":83,"wires":[["cfa5cd24.6872b"]]},{"id":"88bce9f2.618528","type":"change","z":"26f81ea7.871d22","name":"Setup Analysis Data","rules":[{"t":"set","p":"analysis.text","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"analysis.source_id","pt":"msg","to":"payload.source_id","tot":"msg"},{"t":"set","p":"analysis.created_at","pt":"msg","to":"payload.created_at","tot":"msg"},{"t":"set","p":"analysis.source_system","pt":"msg","to":"payload.source_system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":186.5,"y":205,"wires":[["4881e0b3.8e18d"]]},{"id":"cfa5cd24.6872b","type":"change","z":"26f81ea7.871d22","name":"Save Tone Response","rules":[{"t":"set","p":"analysis.tone","pt":"msg","to":"response","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":405.5,"y":290,"wires":[["566f1e26.30d1"]]},{"id":"566f1e26.30d1","type":"watson-natural-language-classifier","z":"26f81ea7.871d22","name":"","mode":"classify","language":"en","classifier":"33ffe6x85-nlc-2476","x":522.5,"y":161,"wires":[["83ff7fff.7aa1a"]]},{"id":"83ff7fff.7aa1a","type":"change","z":"26f81ea7.871d22","name":"Save NLC Response","rules":[{"t":"set","p":"analysis.nlc","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"analysis","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.5,"y":373,"wires":[["1b03f044.f1fdc","1eaddd69.be0f03"]]},{"id":"b69c050a.f2a3c8","type":"inject","z":"26f81ea7.871d22","name":"","topic":"","payload":"{     \"text\" : \"the session on social crm was great\",     \"source_id\" : \"werner\",     \"source_system\": \"web\",     \"created_at\" : \"Thu Aug 25 21:55:15 +0000 2016\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":129.5,"y":337,"wires":[["88bce9f2.618528"]]},{"id":"1b03f044.f1fdc","type":"debug","z":"26f81ea7.871d22","name":"","active":true,"console":"false","complete":"false","x":753.5,"y":443,"wires":[]},{"id":"1eaddd69.be0f03","type":"cloudant out","z":"26f81ea7.871d22","name":"Save Incoming","cloudant":"","database":"wow-incoming","service":"wow-2016-social-cloudantNoSQLDB","payonly":true,"operation":"insert","x":771,"y":274,"wires":[]},{"id":"158c389d.583957","type":"comment","z":"26f81ea7.871d22","name":"Input Format","info":"{\n    \"text\" : \"the session on social crm was great\",\n    \"source_id\" : \"werner\",\n    \"source_system\": \"web\",\n    \"created_at\" : \"Thu Aug 25 21:55:15 +0000 2016\"\n}","x":278.5,"y":470,"wires":[]}]
