node-red/facebook.json
[{"id":"a9680311.fe9ec","type":"http in","z":"774396.cc6efc6c","name":"FB Get Req","url":"/fb/webhook","method":"get","swaggerDoc":"","x":137.5,"y":70,"wires":[["3b8dd956.3daa86","5e064ccd.a78d74"]]},{"id":"6c901078.10738","type":"http response","z":"774396.cc6efc6c","name":"FB Get Resp","x":829.5,"y":64,"wires":[]},{"id":"1d1a9170.71377f","type":"change","z":"774396.cc6efc6c","name":"Build FB Get Resp","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query['hub.challenge']","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":558.5,"y":63,"wires":[["6c901078.10738","ec284fcc.28f4d"]]},{"id":"5e064ccd.a78d74","type":"debug","z":"774396.cc6efc6c","name":"","active":true,"console":"false","complete":"false","x":327.5,"y":148,"wires":[]},{"id":"ec284fcc.28f4d","type":"debug","z":"774396.cc6efc6c","name":"","active":true,"console":"false","complete":"false","x":818.5,"y":150,"wires":[]},{"id":"3b8dd956.3daa86","type":"switch","z":"774396.cc6efc6c","name":"Check Token","property":"req.query['hub.verify_token']","propertyType":"msg","rules":[{"t":"eq","v":"wow-2016-token","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":351.5,"y":70,"wires":[["1d1a9170.71377f"],["5e2a355b.64e09c"]]},{"id":"5e2a355b.64e09c","type":"change","z":"774396.cc6efc6c","name":"Build Invalid Token Resp","rules":[{"t":"set","p":"payload","pt":"msg","to":"'Invalid Token Received'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":581.5,"y":149,"wires":[["6c901078.10738","ec284fcc.28f4d"]]},{"id":"91f6891e.4bfe48","type":"http in","z":"774396.cc6efc6c","name":"FB Post Req","url":"/fb/webhook","method":"post","swaggerDoc":"","x":132.5,"y":292,"wires":[["3665282c.2dd588","c30af2e2.0d93f","3321def1.e25c72"]]},{"id":"3665282c.2dd588","type":"debug","z":"774396.cc6efc6c","name":"FB In Debug","active":true,"console":"false","complete":"payload","x":187.5,"y":390,"wires":[]},{"id":"1af757b9.169838","type":"http request","z":"774396.cc6efc6c","name":"","method":"POST","ret":"txt","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAIYlYDbrqsBADgnVWq9aZAXZAYKTZCOGvvUkUTegThZCvOZCXvK2q7zqgl5SaGjNSZBcT0uTgMEGmewzFfoNVPXja3K32kZCQFeCzDs6KHZA4bvgrBRlpeZB2EyiD3KspBce2JKACcPNXRFBYp2APN9dLjbkmCB2JkD9NUs2p4sjoQZDZD","tls":"","x":799.5,"y":433,"wires":[["a5f9f7d5.a53218"]]},{"id":"888441b6.7d94","type":"function","z":"774396.cc6efc6c","name":"Build FB Resp","func":"var response;\nresponse = {\n    \"recipient\": { \n            \"id\" : msg.facebook.entry[0].messaging[0].sender.id \n        }, \n    \"message\": {\n            \"text\": msg.payload.output.text[0]\n        }\n}\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":616.5,"y":339,"wires":[["1af757b9.169838","eb8c0519.915348"]]},{"id":"a5f9f7d5.a53218","type":"debug","z":"774396.cc6efc6c","name":"FB Msg Resp Debug","active":true,"console":"false","complete":"payload","x":799.5,"y":509,"wires":[]},{"id":"eb8c0519.915348","type":"debug","z":"774396.cc6efc6c","name":"Msg Resp Debug","active":true,"console":"false","complete":"payload","x":814.5,"y":292,"wires":[]},{"id":"30211075.1fa42","type":"http response","z":"774396.cc6efc6c","name":"","x":424.5,"y":223,"wires":[]},{"id":"c30af2e2.0d93f","type":"function","z":"774396.cc6efc6c","name":"Build POST Resp","func":"msg.payload = \"OK\";\n\nreturn msg;","outputs":1,"noerr":0,"x":223.5,"y":223,"wires":[["30211075.1fa42"]]},{"id":"6ee8c746.9ef508","type":"watson-conversation-v1","z":"774396.cc6efc6c","name":"Wow2016 Conversation","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":435.5,"y":392,"wires":[["888441b6.7d94"]]},{"id":"3321def1.e25c72","type":"change","z":"774396.cc6efc6c","name":"Save Inbound set Convo","rules":[{"t":"set","p":"facebook","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"facebook.entry[0].messaging[0].message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380.5,"y":295,"wires":[["6ee8c746.9ef508"]]}]
