node-red/twitter.json
[{"id":"1f05120f.fdc63e","type":"twitter in","z":"a09fe532.15a578","twitter":"","tags":"@wow2016answers,@ibmwow","user":"false","name":"Tweet In","topic":"tweets","x":120.5,"y":54,"wires":[["cb747308.60c73"]]},{"id":"251dcde7.cb4462","type":"cloudant out","z":"a09fe532.15a578","name":"Add Conversation","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","payonly":true,"operation":"insert","x":757.5,"y":249,"wires":[]},{"id":"c4be544a.248098","type":"switch","z":"a09fe532.15a578","name":"Check Self","property":"tweet.user.screen_name","propertyType":"msg","rules":[{"t":"neq","v":"twitter_bot_handle","vt":"global"}],"checkall":"true","outputs":1,"x":733.5,"y":45,"wires":[["6acacb51.6a7934"]]},{"id":"d46f5296.42b09","type":"cloudant in","z":"a09fe532.15a578","name":"Check Existing","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","search":"_idx_","design":"wow-conversation","index":"screen-name-search","x":445.5,"y":153,"wires":[["a5a67598.92ff88"]]},{"id":"6acacb51.6a7934","type":"function","z":"a09fe532.15a578","name":"Build Query","func":"msg.payload = 'screen_name:' + msg.tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":135.5,"y":153,"wires":[["d46f5296.42b09"]]},{"id":"a5a67598.92ff88","type":"switch","z":"a09fe532.15a578","name":"is Existing Conversation","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":178.5,"y":256,"wires":[["e7a1d514.a623b8","de2106a9.507748"],["d2c2a4ba.b7c9e8","de2106a9.507748"]]},{"id":"797291d5.0f77a","type":"twitter out","z":"a09fe532.15a578","twitter":"","name":"Bot Response Tweet","x":606.5,"y":516,"wires":[]},{"id":"590c9dc0.487e74","type":"function","z":"a09fe532.15a578","name":"Build BOT Response","func":"msg.payload = '@' + msg.tweet.user.screen_name + ' ' + msg.payload;\nmsg.params = {\n    in_reply_to_status_id: msg.tweet.id_str\n}\nreturn msg;\n","outputs":"1","noerr":0,"x":418.5,"y":582,"wires":[["797291d5.0f77a"]]},{"id":"e7a1d514.a623b8","type":"function","z":"a09fe532.15a578","name":"Create Conversation Doc","func":"var conversation_doc = {\n    id : msg.tweet.id,\n    id_str : msg.tweet.id_str,\n    in_reply_to_status_id : msg.tweet.in_reply_to_status_id,\n    in_reply_to_status_id_str : msg.tweet.in_reply_to_status_id_str,\n    last_interaction : msg.tweet.created_at,\n    screen_name : msg.tweet.user.screen_name,\n    created_at : msg.tweet.created_at,\n    text : [ msg.tweet.text ]\n}\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":482.5,"y":226,"wires":[["251dcde7.cb4462"]]},{"id":"d2c2a4ba.b7c9e8","type":"function","z":"a09fe532.15a578","name":"Update Conversation Doc","func":"var conversation_doc = msg.payload[0];\nconversation_doc.last_interaction = msg.tweet.created_at;\nconversation_doc.text.push(msg.tweet.text);\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":482.5,"y":277,"wires":[["251dcde7.cb4462"]]},{"id":"cb747308.60c73","type":"switch","z":"a09fe532.15a578","name":"Route Tweets","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"@wow2016answers","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":469.5,"y":52,"wires":[["c4be544a.248098"],["974c3a44.148f38"]]},{"id":"6e82648.054759c","type":"watson-conversation-v1","z":"a09fe532.15a578","name":"Wow2016 Conversation","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":486.5,"y":361,"wires":[["3a5ef070.e8ed1"]]},{"id":"de2106a9.507748","type":"function","z":"a09fe532.15a578","name":"Set Payload to Tweet Text","func":"msg.payload = msg.tweet.text;\n\nreturn msg;","outputs":1,"noerr":0,"x":169.5,"y":362,"wires":[["6e82648.054759c"]]},{"id":"3547730.e0e558e","type":"link out","z":"a09fe532.15a578","name":"","links":["b2c0c3ac.7dbf8"],"x":840.5,"y":117,"wires":[]},{"id":"974c3a44.148f38","type":"function","z":"a09fe532.15a578","name":"Build Analysis Json","func":"msg.payload = \n    { \"text\": msg.payload, \n      \"source_id\" : msg.tweet.user.screen_name, \n      \"created_at\" : msg.tweet.created_at, \n      \"source_system\": \"twitter\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":705.5,"y":117,"wires":[["3547730.e0e558e"]]},{"id":"8e5b0f35.4ca66","type":"cloudant in","z":"a09fe532.15a578","name":"Search for Session Info by Session Id","cloudant":"","database":"wow-session-info","service":"wow-2016-social-cloudantNoSQLDB","search":"_idx_","design":"wow-session-info","index":"session_id_idx","x":196.5,"y":436,"wires":[["3e4082a1.74d06e"]]},{"id":"3a5ef070.e8ed1","type":"function","z":"a09fe532.15a578","name":"Build Session Info Lookup","func":"msg.dialog = msg.payload;\nvar entity = msg.dialog.entities[0];\nif (!entity || !entity.value ) {\n    entity.value = '1245';\n}\nmsg.session_id = entity.value;\nmsg.payload = 'session_id:' + entity.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":758.5,"y":360,"wires":[["8e5b0f35.4ca66"]]},{"id":"3e4082a1.74d06e","type":"function","z":"a09fe532.15a578","name":"Process Session Info Response","func":"var session_info = msg.payload[0];\nvar intent = msg.dialog.intents[0].intent;\n\nmsg.session_id = msg.session_id;\n\nmsg.is_what = false;\nmsg.is_where = false;\nmsg.is_when = false;\n\nif (intent === 'WHAT') {\n    msg.session_abstract = session_info.Title;\n    msg.is_what = true;\n}\n\nif (intent === 'WHERE') {\n    msg.session_location = session_info.Room;\n    msg.is_where = true;\n}\n\nif (intent === 'WHEN') {\n    msg.session_day = session_info.Day;\n    msg.session_time = session_info.Time;\n    msg.is_when = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":559.5,"y":438,"wires":[["94d5ccba.b5517"]]},{"id":"94d5ccba.b5517","type":"template","z":"a09fe532.15a578","name":"Build The Response Message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#is_what}}\nSession {{session_id}} is about {{session_abstract}}.    \n{{/is_what}}\n{{#is_where}}\nSession {{session_id}} will be held in room {{session_location}}.\n{{/is_where}}\n{{#is_when}}\nSession {{session_id}} will be held on {{session_day}} at {{session_time}}.\n{{/is_when}}","x":201.5,"y":516,"wires":[["590c9dc0.487e74"]]}]
