node-red/twitter.json
[{"id":"1f05120f.fdc63e","type":"twitter in","z":"a09fe532.15a578","twitter":"","tags":"@wow2016answers,@ibmwow,@ibmwatson","user":"false","name":"Tweet In","topic":"tweets","x":131.5,"y":145,"wires":[["cb747308.60c73"]]},{"id":"251dcde7.cb4462","type":"cloudant out","z":"a09fe532.15a578","name":"Add Conversation","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","payonly":true,"operation":"insert","x":768.5,"y":340,"wires":[]},{"id":"c4be544a.248098","type":"switch","z":"a09fe532.15a578","name":"Check Self","property":"tweet.user.screen_name","propertyType":"msg","rules":[{"t":"neq","v":"twitter_bot_handle","vt":"global"}],"checkall":"true","outputs":1,"x":744.5,"y":136,"wires":[["6acacb51.6a7934"]]},{"id":"d46f5296.42b09","type":"cloudant in","z":"a09fe532.15a578","name":"Check Existing","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","search":"_idx_","design":"wow-conversation","index":"screen-name-search","x":456.5,"y":244,"wires":[["a5a67598.92ff88"]]},{"id":"6acacb51.6a7934","type":"function","z":"a09fe532.15a578","name":"Build Query","func":"msg.payload = 'screen_name:' + msg.tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":244,"wires":[["d46f5296.42b09"]]},{"id":"a5a67598.92ff88","type":"switch","z":"a09fe532.15a578","name":"is Existing Conversation","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":189.5,"y":347,"wires":[["e7a1d514.a623b8","de2106a9.507748"],["d2c2a4ba.b7c9e8","de2106a9.507748"]]},{"id":"797291d5.0f77a","type":"twitter out","z":"a09fe532.15a578","twitter":"","name":"Bot Response Tweet","x":484.5,"y":530,"wires":[]},{"id":"590c9dc0.487e74","type":"function","z":"a09fe532.15a578","name":"Build BOT Response","func":"if (msg.testit) {\n    msg.payload = '@' + msg.tweet.user.screen_name + ' ' + msg.payload.output.text;\n    return [null, msg];\n} else {\n    msg.payload = '@' + msg.tweet.user.screen_name + ' ' + msg.payload.output.text;\n    msg.params = {\n        in_reply_to_status_id: msg.tweet.id_str\n    }\n    return [msg];\n}\n","outputs":"2","noerr":0,"x":760.5,"y":452,"wires":[["797291d5.0f77a","c3b2e3ee.1057"],["c3b2e3ee.1057"]]},{"id":"e7a1d514.a623b8","type":"function","z":"a09fe532.15a578","name":"Create Conversation Doc","func":"var conversation_doc = {\n    id : msg.tweet.id,\n    id_str : msg.tweet.id_str,\n    in_reply_to_status_id : msg.tweet.in_reply_to_status_id,\n    in_reply_to_status_id_str : msg.tweet.in_reply_to_status_id_str,\n    last_interaction : msg.tweet.created_at,\n    screen_name : msg.tweet.user.screen_name,\n    created_at : msg.tweet.created_at,\n    text : [ msg.tweet.text ]\n}\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":493.5,"y":317,"wires":[["251dcde7.cb4462"]]},{"id":"d2c2a4ba.b7c9e8","type":"function","z":"a09fe532.15a578","name":"Update Conversation Doc","func":"var conversation_doc = msg.payload[0];\nconversation_doc.last_interaction = msg.tweet.created_at;\nconversation_doc.text.push(msg.tweet.text);\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":493.5,"y":368,"wires":[["251dcde7.cb4462"]]},{"id":"cb747308.60c73","type":"switch","z":"a09fe532.15a578","name":"Route Tweets","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"@wow2016answers","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":480.5,"y":143,"wires":[["c4be544a.248098"],["974c3a44.148f38"]]},{"id":"6e82648.054759c","type":"watson-conversation-v1","z":"a09fe532.15a578","name":"Wow2016 Conversation","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":497.5,"y":452,"wires":[["590c9dc0.487e74"]]},{"id":"de2106a9.507748","type":"function","z":"a09fe532.15a578","name":"Set Payload to Tweet Text","func":"msg.payload = msg.tweet.text;\n\nreturn msg;","outputs":1,"noerr":0,"x":180.5,"y":453,"wires":[["6e82648.054759c"]]},{"id":"4a28a4f2.7a2efc","type":"inject","z":"a09fe532.15a578","name":"Test BOT","topic":"","payload":"\"Tweet is set in Next Function\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.5,"y":63,"wires":[["2212ac73.7191c4"]]},{"id":"2212ac73.7191c4","type":"function","z":"a09fe532.15a578","name":"Set Test Tweet","func":"var now = new Date();\nvar test_tweet = {\n    id : 1,\n    id_str : \"1\",\n    created_at: now,\n    text : \"@ibmwow Great Watson Social CRM lab, thanks guys!!\", \n    user : \n        { \n            screen_name : \"bottestuser\" \n        } \n}\nmsg.tweet = test_tweet;\nmsg.payload = \"@ibmwow Great Watson Social CRM lab, thanks guys!!\";\nmsg.testit = true;\nreturn msg;","outputs":1,"noerr":0,"x":354.5,"y":63,"wires":[["cb747308.60c73"]]},{"id":"3547730.e0e558e","type":"link out","z":"a09fe532.15a578","name":"","links":["b2c0c3ac.7dbf8"],"x":851.5,"y":208,"wires":[]},{"id":"974c3a44.148f38","type":"function","z":"a09fe532.15a578","name":"Build Analysis Json","func":"msg.payload = \n    { \"text\": msg.payload, \n      \"source_id\" : msg.tweet.user.screen_name, \n      \"created_at\" : msg.tweet.created_at, \n      \"source_system\": \"twitter\" \n    }\nreturn msg;","outputs":1,"noerr":0,"x":716.5,"y":208,"wires":[["3547730.e0e558e"]]},{"id":"c3b2e3ee.1057","type":"debug","z":"a09fe532.15a578","name":"","active":true,"console":"false","complete":"payload","x":780.5,"y":545,"wires":[]}]
