node-red/twitter.json
[{"id":"1f05120f.fdc63e","type":"twitter in","z":"a09fe532.15a578","twitter":"","tags":"@wow2016answers,@ibmwow","user":"false","name":"Tweet In","topic":"tweets","x":111.5,"y":170,"wires":[["cb747308.60c73","91807fb.1c80e8"]]},{"id":"251dcde7.cb4462","type":"cloudant out","z":"a09fe532.15a578","name":"Add Conversation","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","payonly":true,"operation":"insert","x":777.5,"y":588,"wires":[]},{"id":"c4be544a.248098","type":"switch","z":"a09fe532.15a578","name":"Check Reply 2 Own","property":"tweet.user.screen_name","propertyType":"msg","rules":[{"t":"neq","v":"wow2016answers","vt":"str"}],"checkall":"true","outputs":1,"x":205.5,"y":439,"wires":[["6acacb51.6a7934"]]},{"id":"d46f5296.42b09","type":"cloudant in","z":"a09fe532.15a578","name":"Check Existing","cloudant":"","database":"wow-conversation","service":"wow-2016-social-cloudantNoSQLDB","search":"_idx_","design":"wow-conversation","index":"screen-name-search","x":449.5,"y":439,"wires":[["a5a67598.92ff88","ffc3f229.4032b"]]},{"id":"6acacb51.6a7934","type":"function","z":"a09fe532.15a578","name":"Build Query","func":"msg.payload = 'screen_name:' + msg.tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":344.5,"y":366,"wires":[["d46f5296.42b09"]]},{"id":"a5a67598.92ff88","type":"switch","z":"a09fe532.15a578","name":"is Existing Conversation","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":213.5,"y":591,"wires":[["e7a1d514.a623b8","de2106a9.507748"],["d2c2a4ba.b7c9e8","de2106a9.507748"]]},{"id":"797291d5.0f77a","type":"twitter out","z":"a09fe532.15a578","twitter":"","name":"Bot Response Tweet","x":741.5,"y":724,"wires":[]},{"id":"590c9dc0.487e74","type":"function","z":"a09fe532.15a578","name":"Build BOT Response","func":"if (msg.testit) {\n    msg.payload = '@' + msg.tweet.user.screen_name + ' ' + msg.payload.output.text;\n    return [null, msg];\n} else {\n    msg.payload = '@' + msg.tweet.user.screen_name + ' ' + msg.payload.output.text;\n    msg.params = {\n        in_reply_to_status_id: msg.tweet.id_str\n    }\n    return [msg];\n}\n","outputs":"2","noerr":0,"x":476.5,"y":764,"wires":[["797291d5.0f77a","c3b2e3ee.1057"],["c3b2e3ee.1057"]]},{"id":"e7a1d514.a623b8","type":"function","z":"a09fe532.15a578","name":"Create Conversation Doc","func":"var conversation_doc = {\n    id : msg.tweet.id,\n    id_str : msg.tweet.id_str,\n    in_reply_to_status_id : msg.tweet.in_reply_to_status_id,\n    in_reply_to_status_id_str : msg.tweet.in_reply_to_status_id_str,\n    last_interaction : msg.tweet.created_at,\n    screen_name : msg.tweet.user.screen_name,\n    created_at : msg.tweet.created_at,\n    text : [ msg.tweet.text ]\n}\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":512.5,"y":528,"wires":[["251dcde7.cb4462"]]},{"id":"d2c2a4ba.b7c9e8","type":"function","z":"a09fe532.15a578","name":"Update Conversation Doc","func":"var conversation_doc = msg.payload[0];\nconversation_doc.last_interaction = msg.tweet.created_at;\nconversation_doc.text.push(msg.tweet.text);\nmsg.payload = conversation_doc;\nreturn msg;","outputs":1,"noerr":0,"x":511.5,"y":626,"wires":[["251dcde7.cb4462"]]},{"id":"ffc3f229.4032b","type":"debug","z":"a09fe532.15a578","name":"","active":false,"console":"false","complete":"false","x":707.5,"y":360,"wires":[]},{"id":"c3b2e3ee.1057","type":"debug","z":"a09fe532.15a578","name":"","active":true,"console":"false","complete":"payload","x":723.5,"y":776,"wires":[]},{"id":"cb747308.60c73","type":"switch","z":"a09fe532.15a578","name":"Split Bot and Analysis","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"@ibm","vt":"str"},{"t":"cont","v":"@wow2016answers","vt":"str"}],"checkall":"true","outputs":2,"x":171.5,"y":278,"wires":[["7778e943.42ebb8"],["c4be544a.248098"]]},{"id":"91807fb.1c80e8","type":"debug","z":"a09fe532.15a578","name":"","active":true,"console":"false","complete":"payload","x":282.5,"y":130,"wires":[]},{"id":"6e82648.054759c","type":"watson-conversation-v1","z":"a09fe532.15a578","name":"Wow2016 Conversation","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":219.5,"y":764,"wires":[["590c9dc0.487e74","93d74b7b.d094a8"]]},{"id":"de2106a9.507748","type":"function","z":"a09fe532.15a578","name":"Set Payload to Tweet Text","func":"msg.payload = msg.tweet.text;\n\nreturn msg;","outputs":1,"noerr":0,"x":225.5,"y":678,"wires":[["6e82648.054759c"]]},{"id":"93d74b7b.d094a8","type":"debug","z":"a09fe532.15a578","name":"","active":true,"console":"false","complete":"false","x":434.5,"y":843,"wires":[]},{"id":"4a28a4f2.7a2efc","type":"inject","z":"a09fe532.15a578","name":"Test BOT","topic":"","payload":"\"Tweet is set in Next Function\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.5,"y":88,"wires":[["2212ac73.7191c4"]]},{"id":"2212ac73.7191c4","type":"function","z":"a09fe532.15a578","name":"Set Test Tweet","func":"var now = new Date();\nvar test_tweet = {\n    id : 1,\n    id_str : \"1\",\n    created_at: now,\n    text : \"@ibmwow Great Watson Social CRM lab, thanks guys!!\", \n    user : \n        { \n            screen_name : \"bottestuser\" \n        } \n}\nmsg.tweet = test_tweet;\nmsg.payload = \"@ibmwow Great Watson Social CRM lab, thanks guys!!\";\nmsg.testit = true;\nreturn msg;","outputs":1,"noerr":0,"x":520.5,"y":91,"wires":[["cb747308.60c73"]]},{"id":"3547730.e0e558e","type":"link out","z":"a09fe532.15a578","name":"","links":["b2c0c3ac.7dbf8"],"x":740.5,"y":212,"wires":[]},{"id":"7778e943.42ebb8","type":"change","z":"a09fe532.15a578","name":"Set Data for Analysis","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"payload.source_id","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"payload.created_at","pt":"msg","to":"tweet.created_at","tot":"msg"},{"t":"set","p":"payload.source_system","pt":"msg","to":"twitter","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":528.5,"y":212,"wires":[["3547730.e0e558e"]]}]
