node-red/web.json
[{"id":"c71cb2b3.a2b27","type":"http in","z":"fdaa6fd5.375ff","name":"","url":"/web/conversation","method":"post","swaggerDoc":"","x":150.5,"y":65,"wires":[["7f19e506.99c5cc"]]},{"id":"c6ac3600.6fa4a8","type":"watson-conversation-v1","z":"fdaa6fd5.375ff","name":"","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":740.5,"y":66,"wires":[["45877322.b90cfc"]]},{"id":"7f19e506.99c5cc","type":"change","z":"fdaa6fd5.375ff","name":"Set Conversation Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.5,"y":66,"wires":[["c6ac3600.6fa4a8"]]},{"id":"e03499be.0366d8","type":"http response","z":"fdaa6fd5.375ff","name":"","x":755.5,"y":169,"wires":[]},{"id":"7ea042c3.7de78c","type":"catch","z":"fdaa6fd5.375ff","name":"","scope":null,"x":174.5,"y":337,"wires":[["cfb799e6.2ae4d8"]]},{"id":"cfb799e6.2ae4d8","type":"change","z":"fdaa6fd5.375ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":433.5,"y":337,"wires":[["e03499be.0366d8","46098dcb.6c0de4"]]},{"id":"3a1c670f.2908c8","type":"change","z":"fdaa6fd5.375ff","name":"Set Data for Analysis","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"payload.source_id","pt":"msg","to":"req.query.user_id","tot":"msg"},{"t":"set","p":"payload.created_at","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.source_system","pt":"msg","to":"web","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":239,"y":220,"wires":[["c9e904cd.af3a98","e03499be.0366d8"]]},{"id":"c9e904cd.af3a98","type":"link out","z":"fdaa6fd5.375ff","name":"","links":["b2c0c3ac.7dbf8"],"x":504.5,"y":267,"wires":[]},{"id":"46098dcb.6c0de4","type":"debug","z":"fdaa6fd5.375ff","name":"Error Occurred","active":true,"console":"false","complete":"payload","x":735.5,"y":337,"wires":[]},{"id":"45877322.b90cfc","type":"switch","z":"fdaa6fd5.375ff","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"cont","v":"GREETING","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":455.5,"y":141,"wires":[["e03499be.0366d8"],["3a1c670f.2908c8"]]}]
