node-red/web.json
[{"id":"c71cb2b3.a2b27","type":"http in","z":"fdaa6fd5.375ff","name":"","url":"/web/conversation","method":"post","swaggerDoc":"","x":150.5,"y":65,"wires":[["7f19e506.99c5cc"]]},{"id":"c6ac3600.6fa4a8","type":"watson-conversation-v1","z":"fdaa6fd5.375ff","name":"","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":740.5,"y":66,"wires":[["45877322.b90cfc"]]},{"id":"7f19e506.99c5cc","type":"change","z":"fdaa6fd5.375ff","name":"Set Conversation Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.5,"y":66,"wires":[["c6ac3600.6fa4a8"]]},{"id":"e03499be.0366d8","type":"http response","z":"fdaa6fd5.375ff","name":"","x":880.5,"y":243,"wires":[]},{"id":"7ea042c3.7de78c","type":"catch","z":"fdaa6fd5.375ff","name":"","scope":null,"x":221.5,"y":525,"wires":[["cfb799e6.2ae4d8"]]},{"id":"cfb799e6.2ae4d8","type":"change","z":"fdaa6fd5.375ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.5,"y":525,"wires":[["46098dcb.6c0de4","b33d620b.9afff"]]},{"id":"3a1c670f.2908c8","type":"change","z":"fdaa6fd5.375ff","name":"Set Data for Analysis","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"payload.source_id","pt":"msg","to":"req.query.user_id","tot":"msg"},{"t":"set","p":"payload.created_at","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.source_system","pt":"msg","to":"web","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":391,"y":213,"wires":[["c9e904cd.af3a98","e03499be.0366d8"]]},{"id":"c9e904cd.af3a98","type":"link out","z":"fdaa6fd5.375ff","name":"","links":["b2c0c3ac.7dbf8"],"x":575.5,"y":181,"wires":[]},{"id":"46098dcb.6c0de4","type":"debug","z":"fdaa6fd5.375ff","name":"Error Occurred","active":true,"console":"false","complete":"payload","x":635.5,"y":526,"wires":[]},{"id":"45877322.b90cfc","type":"switch","z":"fdaa6fd5.375ff","name":"","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"cont","v":"GREETING","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":139.5,"y":138,"wires":[["15196683.438a39"],["3c0e804e.55a89","3a1c670f.2908c8"]]},{"id":"3c0e804e.55a89","type":"function","z":"fdaa6fd5.375ff","name":"Build Session Info Lookup","func":"\nmsg.dialog = msg.payload;\nvar entity = msg.dialog.entities[0];\nif (!entity || !entity.value ) {\n    entity.value = '1245';\n}\nmsg.session_id = entity.value;\nmsg.payload = 'session_id:' + entity.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":188,"y":289,"wires":[["30dd2cf2.e3eb04"]]},{"id":"30dd2cf2.e3eb04","type":"cloudant in","z":"fdaa6fd5.375ff","name":"Search for Session Info by Session Id","cloudant":"","database":"wow-session-info","service":"wow-2016-social-cloudantNoSQLDB","search":"_idx_","design":"wow-session-info","index":"session_id_idx","x":369,"y":368,"wires":[["6696da5c.068f14"]]},{"id":"6696da5c.068f14","type":"function","z":"fdaa6fd5.375ff","name":"Process Session Info Response","func":"var session_info = msg.payload[0];\nvar intent = msg.dialog.intents[0].intent;\n\nmsg.session_id = msg.session_id;\n\nmsg.is_what = false;\nmsg.is_where = false;\nmsg.is_when = false;\n\nif (intent === 'WHAT') {\n    msg.session_abstract = session_info.Title;\n    msg.is_what = true;\n}\n\nif (intent === 'WHERE') {\n    msg.session_location = session_info.Room;\n    msg.is_where = true;\n}\n\nif (intent === 'WHEN') {\n    msg.session_day = session_info.Day;\n    msg.session_time = session_info.Time;\n    msg.is_when = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":292,"wires":[["938ffd21.48023"]]},{"id":"b33d620b.9afff","type":"http response","z":"fdaa6fd5.375ff","name":"","x":605.5,"y":479,"wires":[]},{"id":"938ffd21.48023","type":"template","z":"fdaa6fd5.375ff","name":"Response Message Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#is_what}}\nSession {{session_id}} is about {{session_abstract}}.    \n{{/is_what}}\n{{#is_where}}\nSession {{session_id}} will be held in room {{session_location}}.\n{{/is_where}}\n{{#is_when}}\nSession {{session_id}} will be held on {{session_day}} at {{session_time}}.\n{{/is_when}}","x":755.5,"y":365,"wires":[["e03499be.0366d8"]]},{"id":"15196683.438a39","type":"function","z":"fdaa6fd5.375ff","name":"Build Greeting","func":"msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":515.5,"y":133,"wires":[["e03499be.0366d8"]]}]
