node-red/web.json
[{"id":"c71cb2b3.a2b27","type":"http in","z":"fdaa6fd5.375ff","name":"","url":"/web/conversation","method":"post","swaggerDoc":"","x":197.5,"y":153,"wires":[["7f19e506.99c5cc","bdbcb4d4.d02cb8","3a1c670f.2908c8"]]},{"id":"c6ac3600.6fa4a8","type":"watson-conversation-v1","z":"fdaa6fd5.375ff","name":"","workspaceid":"14678b35-9071-4e5d-9e64-dfc52ea56fd5","x":618.5,"y":237,"wires":[["e03499be.0366d8"]]},{"id":"7f19e506.99c5cc","type":"change","z":"fdaa6fd5.375ff","name":"Set Conversation Msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.5,"y":153,"wires":[["c6ac3600.6fa4a8"]]},{"id":"e03499be.0366d8","type":"http response","z":"fdaa6fd5.375ff","name":"","x":727.5,"y":155,"wires":[]},{"id":"bdbcb4d4.d02cb8","type":"debug","z":"fdaa6fd5.375ff","name":"","active":true,"console":"false","complete":"req.body","x":448.5,"y":92,"wires":[]},{"id":"7ea042c3.7de78c","type":"catch","z":"fdaa6fd5.375ff","name":"","scope":null,"x":485.5,"y":329,"wires":[["cfb799e6.2ae4d8"]]},{"id":"cfb799e6.2ae4d8","type":"change","z":"fdaa6fd5.375ff","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":656.5,"y":329,"wires":[["e03499be.0366d8"]]},{"id":"3a1c670f.2908c8","type":"change","z":"fdaa6fd5.375ff","name":"Set Data for Analysis","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"req.body.text","tot":"msg"},{"t":"set","p":"payload.source_id","pt":"msg","to":"req.body.user_id","tot":"msg"},{"t":"set","p":"payload.created_at","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.source_system","pt":"msg","to":"web","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":449,"y":421,"wires":[["c9e904cd.af3a98"]]},{"id":"c9e904cd.af3a98","type":"link out","z":"fdaa6fd5.375ff","name":"","links":["b2c0c3ac.7dbf8"],"x":645.5,"y":420,"wires":[]}]
